* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
/* ---Topabar  Start--- */
.topbar {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
      to right,
      rgba(10, 11, 54, 0.233),
      rgba(71, 14, 23, 0.322)
    ),
    url(./images/fitness/banner-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  /* background-position:center; */
  background-attachment: fixed;
  background-blend-mode: darken;
}
.topbar ul {
  margin-left: auto;
  margin-right: 40px;
}
.topbar ul li:hover {
  background-color: #4c4747b0;
  padding: 0.2rem;
}
.topbar ul li a {
  font-size: 1.2rem !important;
  color: white !important;
}
/* ---Topabar  End--- */

/* ---Intro  Start--- */
.intro {
  background: rgba(0, 0, 0, 0.863);
  color: white;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
  padding-top: 2rem;
  margin-top: -120px;
  border-radius: 2px;
}
.intro h3 {
  font-weight: bolder;
  margin-top: 20px;
}
.intro p {
  margin-top: 40px;
}
.intro .btn {
  background: #0a0e18;
  color: white;
  padding: 5px;
  font-size: 1rem;
  width: 150px;
  border-radius: 1000px;
  margin-bottom: 20px;
}
.intro .btn:hover {
  color: white;
  background: #31020fd0;
  transition: all 1s linear;
}

/* ---Intro  End--- */

/* ---Exercise Start--- */
.exercise {
  margin-top: 100px;
}
/* --R-w-1 */
.exercise img {
  width: 100%;
  height: 90%;
  border-radius: 5px;
}
.exercise .row .col-style {
  padding-left: 50px;
}
.exercise .row .col-style h3 {
  font-weight: bolder;
  margin-bottom: 100px;
}
.exercise .row .col-style p {
  text-align: justify;
}

/* --Row -2-- */
.exercise .row .col-style-2 p {
  text-align: justify;
}
.exercise .row .video {
  padding-left: 50px;
}
@media all and (max-width: 600px) {
  .exercise .row .col-style-2 {
    padding-left: 50px;
  }
  .exercise .row .video {
    padding: 0px;
  }
}
/* ---Exercise End--- */

/* --Exercise type Start--- */
.exercise-type {
  margin-top: 80px;
  background: #ebe6e6b0;
}
.exercise-type .container {
  padding-top: 80px;
  padding-bottom: 50px;
}
.exercise-type .card {
  border: none !important;
  border-radius: 0;
  background: none;
}
.exercise-type img {
  width: 50px;
  height: 50px;
}
.exercise-type h5 {
  font-weight: bold;
  margin-bottom: 20px;
}
.exercise-type p {
  /* text-align-last:auto; */
  text-align: justify;
  font-size: 0.7;
  color: rgba(0, 0, 0, 0.746);
}

@media all and (max-width: 600px) {
  .exercise-type img {
    display: block;
    margin: auto;
  }
  .exercise-type h5 {
    text-align: center;
  }
}
/* --Exercise type End--- */

/* --Schedule Start--- */
.schedule {
  margin-top: 50px;
  background: linear-gradient(
      to right,
      rgba(3, 3, 19, 0.739),
      rgba(24, 3, 6, 0.897)
    ),
    url(./images/fitness/banner-4.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 50px 10px;
  background-blend-mode: darken;
}
.schedule img {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.schedule i {
  color: #ffffff62;
  width: 100%;
  font-size: 40px;
  margin-top: 12px;
}
.schedule-content {
  margin-left: -40px;
}
.schedule h5 {
  color: #ffffffc7;
  margin-bottom: 15px;
}
.schedule p {
  color: #c7bcbced;
  text-align: justify;
}
@media all and (max-width: 600px) {
  .schedule .fa-heartbeat {
    margin-bottom: 45px;
  }
  .schedule i {
    text-align: center;
  }
  .schedule-content {
    margin-left: 0px;
    text-align: justify;
  }
  .schedule h5 {
    text-align: center;
    margin-bottom: 40px;
  }
}
/* --Schedule End--- */

/* ---User Feedback Start --- */
.user-feedback {
  margin: 60px;
  padding: 30px 30px;
}
.user-feedback h3 {
  font-weight: bolder;
  margin-bottom: 30px;
}
.user-feedback p {
  margin-bottom: 10px;
}
.user-feedback .row {
  margin-top: 70px;
}
.user-feedback .col-md-4 {
  padding: 20px 20px;
}
.user-feedback .col-md-4 p {
  background: white;
  text-align: justify;
  font-size: 13px;
  padding: 30px 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
.user-feedback .col-md-4 p i,
span {
  color: #1e8fffdc;
  margin-top: 10px;
  font-size: 1rem;
  font-weight: bold;
}
.user-feedback img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: -35px;
  margin-left: -15px;
}

@media all and (min-width: 900px) {
  .user-feedback .col-up {
    margin-top: -40px;
  }
}
/* ---User Feedback End --- */

/* ---Search Start--- */
/* .search {
  background: rgba(0, 0, 0, 0.863);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
  padding: 20px 20px;
  margin-bottom: -145px;
}
.search h3 {
  color: white;
  font-weight: bolder;
  margin-bottom: 20px;
}
.search p {
  color: grey;
  margin-bottom: 20px;
}

.input-group {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}
.input-group input {
  box-shadow: none !important;
  border: none !important;
  border-radius: 1000px;
}
.input-group span {
   */
/* cursor: pointer;
  border-radius: 1000px;
  background-color: maroon;
  border: none !important;
  color: white;
} */

/* ---Search End--- */

/* ---Footer Start--- */
.footer {
  margin-top: 50px;
  background: #ebe6e6b0;
  padding-top: 150px;
  padding-left: 20px;
  padding-right: 20px;
}
.footer .card {
  border: none;
  background: none;
  text-align: justify;
  font-size: 13px;
  color: #0057faea;
}
.footer .card img {
  width: 50%;
  display: block;
  margin: 0 auto;
}
.footer .card p span {
  font-size: 13px;
}
.footer li {
  list-style-type: none;
  margin: 20px 0px;
  font-size: 13px;
  color: #0057faea;
}
.footer li a {
  text-decoration: none;
}
.footer li span {
  margin-left: 10px;
}
.footer li a {
  margin-left: 10px;
}
.footer .feature h6 {
  text-align: left;
  color: #095df8;
  font-weight: bolder;
  font-size: 20px;
}

.footer .feature li {
  list-style-type: none;
  margin: 16px 0px;
  font-size: 13px;
  color: #0057faea;
}
.footer .feature li span {
  font-size: 13px;
}
.footer .contact h6 {
  text-align: left;
  color: #095df8;
  font-weight: bolder;
  font-size: 20px;
}
.footer .contact li {
  margin: 16px 0px;
}
.footer .contact li span {
  font-size: 13px;
  font-weight: none !important;
}
.footer .social h6 {
  text-align: left;
  color: #095df8;
  font-weight: bolder;
  font-size: 20px;
}
.footer .social li {
  margin: 16px 0px;
}
.footer .social li span {
  font-size: 13px;
  font-weight: none !important;
}
@media all and (max-width: 600px) {
  .footer .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .footer .feature li {
    margin: 22px 0px;
  }
  .footer .social li {
    margin: 21px 0px;
  }
}
/* ---Footer End--- */
